.button-secondary {
  border: none;
  border-radius: 3px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;

  background-color: #f5f4fa;
  color: $dark-text-color;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  transition: background-color 250ms $main-timing-function;

  &:hover,
  &:focus {
    background-color: $background-accent;
    color: white;
    cursor: pointer;
  }
}

.filter {
  // justify-content: center;
  justify-content: left;
  display: flex;
  flex-wrap: wrap;
  // margin-bottom: 34px;
  margin-bottom: 40px;

  & li:not(:last-child) {
    margin-right: 8px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: $tablets) {
  .filter {
    justify-content: center;
    margin-bottom: 34px;
    & li:not(:last-child) {
      margin-bottom: 0px;
    }
  }
}
