$main-accent: #2196f3;
$main-text-color: #757575;
$dark-text-color: #212121;
$background-accent: #2196f3;
$gradient-color: rgba(47, 48, 58, 0.8);
$main-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$mobile-phones: 480px;
$tablets: 768px;
$PCs: 1200px;
